body{
    background-color: darkorchid;
    color: aqua;
}
header{
    background-color: #0AFFED;
    color: #EEF5A6;
}
main{
    background-color: blue;
}
footer{
    background-color: #C92A18;
    color: #FFD9D4;
}